aenum
AnyQt
confapp
markdown2
matplotlib
numpy
opencv-python==4.3.0.36  # locking down may just be necessary on dev box
pandas
PyOpenGL
PyQt5
PyQtWebEngine
pyserial
pyusb
PyYAML
QScintilla
scipy
visvis