aenum
AnyQt
confapp
markdown2
matplotlib
numpy
opencv-python; sys_platform == "win32"
opencv-python==4.3.0.36; sys_platform != "win32"
pandas
PyOpenGL
PyQt5
PyQtWebEngine
pyserial
pyusb
PyYAML
QScintilla
scipy
visvis