aenum
markdown2
matplotlib
numpy
ONE-api
# opencv-python
opencv-python==4.3.0.36  # locking down may just be necessary on dev box
pydot
PyOpenGL
PyQt5
PyQtWebEngine
pyserial
pyusb
PyYAML
QScintilla
safe-and-collaborative-architecture
scipy
visvis